// подключение Шрифтов
@mixin font-face($font-family, $url, $font-weight: 400, $font-style: "normal") {
  @font-face {
    font-family: '#{$font-family}';
    src: url('#{$url}.woff2') format('woff2'),
    url('#{$url}.woff') format('woff'),
    url('#{$url}.ttf') format('ttf');
    font-weight: $font-weight;
    font-style: $font-style;
    font-display: swap;
  }
}

// Адаптивный шрифт
@mixin adaptiv-font($desk-size, $mod-size, $line-height: $desk-size) {
  /*
  $desk-size - Шрифт для десктопа
  $mod-size - Шрифт для устройства 320px
  */

  $addSize: $desk-size - $mod-size;
  $addMobSize: $addSize + $addSize * 0.7;

  @media screen and (max-width: $ui-breakpoints-md) {
    font-size: calc(#{$mod-size + px} + #{$addMobSize} * ((100vw - 320px) / 1920));
  }
  @media screen and (min-width: $ui-breakpoints-md) {
    font-size: calc(#{$mod-size + px} + #{$addSize} * (100vw / 1920));
  }

  line-height: calc($line-height / $desk-size);
}

// вычисление lh и задавание fz
@mixin font($font-size, $line-height: $font-size) {
  font-size: #{$font-size}px;
  line-height: calc($line-height / $font-size);
}

// Отображение количества строк
@mixin line-text-hidden($col: 2) {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $col; /* количество строк */
}

// Расстояние от текста до подчеркнутой линии
@mixin underline-text($under: 4px) {
  text-decoration-line: underline;
  text-underline-offset: $under;
}
