// Скрыть элемента
@mixin visibility-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  padding: 0;
  border: 0;
}

// Кастомный скролбар
@mixin ui-scrollbar($width: 10px, $height: 6px) {
  scrollbar-color: #39c039 transparent;
  scrollbar-width: thin;

  // style for scrollbar
  ::-webkit-scrollbar {
    width: $width; /* ширина для вертикального скролла */
    height: $height; /* высота для горизонтального скролла */
    background-color: transparent;
  }

  /* ползунок скроллбара */
  ::-webkit-scrollbar-thumb {
    background-color: #FF4500FF;
    border-radius: 20px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #b202b2;
  }

  /* Стрелки */

  ::-webkit-scrollbar-button:vertical:start:decrement,
  ::-webkit-scrollbar-button:vertical:end:increment,
  ::-webkit-scrollbar-button:vertical:end:increment,
  ::-webkit-scrollbar-button:horizontal:start:decrement,
  ::-webkit-scrollbar-button:horizontal:end:increment {
    display: none;
  }
}

// ui-style
@mixin ui-border {
  border: 1px solid #000000;
}