<section class="tabs-section">
    <!--region code-->

    <h3 class="title">Tabs</h3>
    <hr>
    <p class="code">
        &lt!-- Buttons tabs --&gt<br>
    &ltdiv class="tabs-header"&gt<br>
        &nbsp;&ltbutton class="btn btn-tabs" type="button"&gtbtn-1&lt/button&gt<br>
        &nbsp;&ltbutton class="btn btn-tabs" type="button"&gtbtn-2&lt/button&gt<br>
        &nbsp;&ltbutton class="btn btn-tabs" type="button"&gtbtn-3&lt/button&gt<br>
        &nbsp;&ltbutton class="btn btn-tabs" type="button"&gtbtn-4&lt/button&gt<br>
    &lt/div&gt<br><br>

    &lt!-- Content tabs --&gt<br>
    &ltdiv class="tabs-content-wrapper"&gt<br>
        &nbsp;&ltdiv class="tabs-content"&gtcontent-1&lt/div&gt<br>
        &nbsp;&ltdiv class="tabs-content"&gtcontent-2&lt/div&gt<br>
        &nbsp;&ltdiv class="tabs-content"&gtcontent-3&lt/div&gt<br>
        &nbsp;&ltdiv class="tabs-content"&gtcontent-4&lt/div&gt<br>
    &lt/div&gt<br><br>

    &ltscript&gt<br>
    &nbsp;&nbsp; tabs(".tabs-header", ".btn-tabs", ".tabs-content", "active");<br>
    &lt/script&gt
    </p>

    <!--endregion-->

    <div class="tabs-header">
        <button class="btn btn-tabs" type="button">btn-1</button>
        <button class="btn btn-tabs" type="button">btn-2</button>
        <button class="btn btn-tabs" type="button">btn-3</button>
        <button class="btn btn-tabs" type="button">btn-4</button>
    </div>

    <div class="tabs-content-wrapper">
        <div class="tabs-content">content-1</div>
        <div class="tabs-content">content-2</div>
        <div class="tabs-content">content-3</div>
        <div class="tabs-content">content-4</div>
    </div>

</section>