*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  //font-size: 10px;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  line-height: 1.25;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;

  &:hover {
    color: inherit;
  }
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}

//=========================================
//============ Typography =================

h1,
h2,
h3,
h4,
h5,
h6 {
  //font-family: $futura;
  //color: $black;
  //font-weight: 400;
  //line-height: 1.25;
  margin: 0;
}

h1, .h1 {
  //font-size: 42px;

  @include max-screen(767) {
  }

  &.lg {
  }

  &.sm {
  }
}

h2, .h2 {

  @include max-screen(767) {

  }
}

h3, .h3 {

  @include max-screen(767) {
  }
}

h4, .h4 {

  @include max-screen(767) {
  }
}

h5, .h5 {

  @include max-screen(767) {
  }
}

h6, .h6 {

  @include max-screen(767) {
  }
}

p {
  //font-family: $futura;
  //color: $black;
  //font-size: 18px;
  //font-weight: 400;
  //line-height: 1.5;
  margin: 0;

  @include max-screen(767) {
  }

  &.lg {

    @include max-screen(767) {
    }
  }

  &.sm {
    @include max-screen(767) {
    }
  }
}

strong, b .strong {
  font-weight: 700;
}

del, s .del {
  text-decoration-line: line-through;
}

ins, u, .text-underline {
  @include underline-text(4px);
}

.caps {
  text-transform: uppercase;
}

small, .small {

}

.fw-100 {
  font-weight: 100;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

//=========================================
//============ Other =====================

.style-guide-page {
  section {
    padding: 20px 0;
  }

  .title {
    font-size: 32px;
  }

  hr {
    margin: 15px 0;
  }

  .code {
    font-family: "Lucida Console", sans-serif;
    font-size: 12px;
    padding: 15px;
    background-color: rgba(192, 192, 192, 0.5);
    max-width: max-content;
    width: 100%;
    border: 2px solid #31ba31;
    margin-bottom: 15px;
  }
}

.container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;

  @include max-screen(1400px) {
    max-width: 1140px;
  }

  @include max-screen(1200px) {
    max-width: 960px;
  }

  @include max-screen(992px) {
    max-width: 720px;
  }

  @include max-screen(768px) {
    max-width: 540px;
  }

  @include max-screen(576px) {
    max-width: 100%;
  }
}

.container-fluid {
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;

  @include max-screen(575px) {
    padding: 0 20px;
  }
}

.visibility-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  padding: 0;
  border: 0;
}

.d-none {
  display: none !important;
}

.icon {
  stroke: currentColor;
  width: 24px;
  height: 24px;
}

.w-25 {
  width: 25%;
}

.w-50 {
  width: 50%;
}

.w-75 {
  width: 75%;
}

.w-100 {
  width: 100%;
}

.modal {
  visibility: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  // .modal__content
  &__content {
    position: relative;
    max-width: 500px;
    width: 100%;
    padding: 20px 15px;
    background: white;
    border-radius: 8px;
  }

  // .modal__btn-close
  &__btn-close {
    position: absolute;
    top: 5px;
    right: 10px;
  }
}