*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  scroll-behavior: smooth;
  line-height: 1.5;
}

/* Убираем внешние отступы */
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  bottom: 0;
  color: inherit;
  font-family: inherit;
}

img {
  width: 100%;
  display: block;
}