// ------------------------------------------------
// ------------ COLOR ------------
$black: #000000;
$white: #ffffff;

// ------------------------------------------------
// ------------ FONTS ------------
$walsheim: "GT Walsheim Pro", sans-serif;


// ------------------------------------------------
// ------------ Z-Index ------------
$index-1: 1; // Для наползающих элементов в блоке
$index-2: 2; // Для наползающих элементов в блоке
$index-3: 3; // Для затемняющих или блюр масок
$index-4: 4; // Для сайдбаров
$index-5: 5; // Для модальных окон
$index-6: 6; // Для элементов перекрывающих все